body{
    background-color:black;
    font-family:'Lato', sans-serif;
}


.showcase_container{
    justify-content: center;
    display: flex ;
    flex-wrap: wrap;
    gap:3.2vw;
    margin:6vw;
}





.product_card{
    
    text-decoration: none;
    display: block;
    background-color: rgb(47, 46, 46);
    border-radius: 2cap;
    display: inline-block;
    box-shadow: 0  0.6vw  1.8vw  white;
    border: 2px solid  rgb(61, 60, 60);
    text-align: center; 

}



.product_card:hover{
    box-shadow: 0  1.2vw  3.6vw  white;
   
}

.product_card:active{
      box-shadow: 0  1.2vw  3.6vw  white;
}
.product_img{
    margin: 8px;
    width:250px ;
    height: 270px;
    
    
    
    
    
}


.card_name{
    color: white;
    text-align: center;
}


.card_price{
    color: white;
    font-size: 20px;
}

@media (max-width: 385px) {
   
   .card_price{
    font-size: 15px;

   }



  
   
   
   

    }


@media (max-width: 660px) {
    .product_img{
    width: 90%;
     height: auto;
     

    }
    
    .product_card{
        width: 45%;
        height: auto;
        font-size: 10px;
        box-shadow: 0  0.7vw  2.1vw  white;

     
    }
    .showcase_container{
        margin: 2vw;
    }
    
    
    
    
    
  }


  @media (min-width: 1650px) {
    .product_img {
        width: 15vw;
        height: 16vw;
        
    
    
 

    }
    
    .product_card{
       
        padding: 0.1vw;
        border-radius:1.5vw ;
        font-size: 10px;
    }
    .card_name{
        font-size: 1.2vw;
    }

    .card_price{
        font-size: 1.2vw;
    }


  }